body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    top: 51px; /* Navbar height */
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    padding: 10px 15px;
}

.sidebar .nav-link.active {
    color: #007bff;
    background-color: #f8f9fa;
}

.sidebar .nav-link:hover {
    color: #007bff;
}

main {
    margin-top: 56px; /* Navbar height */
}

.action-btn {
    cursor: pointer;
    margin-right: 5px;
}
